@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@300;700&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
}

.watchBx {
  position: relative;
  text-align: center;
}

.watch {
  display: flex;
  margin-top: 15px;
}

.watch .component {
  position: relative;
  margin: 0 5px;
  background: #fff;
  box-shadow: -8px -8px 45px rgba(255, 255, 255, 1),
    8px 8px 45px rgba(0, 0, 0, 0.1);
}

.watch .component .span {
  position: relative;
  display: block;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  font-size: 3em;
  font-weight: 700;
}

.watch .component .title {
  display: block;
  height: 40px;
  font-weight: 500;
  color: #222222bf;
}
