* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  transition: 0.5s;
  z-index: 5;
}

.header.scroller {
  background: #fff;
  box-shadow: 0px 8px 45px rgba(0, 0, 0, 0.1);
}

.header .logoBx {
  font-size: 24px;
  font-weight: 600;
  color: rgb(0, 68, 255);
}

.header .menuBx {
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header .menuBx span {
  position: absolute;
  width: 32px;
  height: 2px;
  background: #222;
  transition: 0.5s;
}

.header .menuBx span:nth-child(1) {
  transform: translateY(-8px);
}

.header .menuBx span:nth-child(3) {
  transform: translateY(8px);
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 20px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}
